Flask
Flask-SQLAlchemy
Flask-Login
Flask-WTF
Flask-Migrate
SQLAlchemy
Werkzeug
Jinja2
python-dotenv
gunicorn
itsdangerous
email-validator
bcrypt
flask-session
redis
Flask-CORS
pyOpenSSL
Flask-Talisman
PyJWT
cryptography
